- 
  var keywordsMerge = data.meta.keywords;
  var themeColor = '#111111';

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title #{data.meta.description}
meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1")
meta(name="description", content=page.description)
meta(name="keywords", content=keywordsMerge)
meta(name="theme-color", content=themeColor)
meta(name="msapplication-TileImage", content="/img/common/ms_tileimage.png")
meta(name="msapplication-TileColor", content=themeColor)
link(rel="shortcut icon" href="/img/common/icon.ico")
link(rel="apple-touch-icon" sizes="180x180" href="/img/common/app_icon.png")

if (!process.env.NODE_ENV || process.env.NODE_ENV === 'development') 
  link(rel="stylesheet" href="/css/main.css")
else 
  link(rel="stylesheet" href="/css/main.min.css")

meta(property="og:title", content=data.meta.title)
meta(property="og:site_name", content=data.meta.title)
meta(property="og:type", content="website")
meta(property="og:description", content=data.meta.description)
meta(property="og:url", content=data.meta.domain + page.path)
meta(
  property="og:image",
  content = "../img/common/preview"
)

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:title", content=data.meta.title)
meta(name="twitter:description", content=page.description)
meta(name="twitter:creator", content="@NYCTechWeek")
meta(
  name="twitter:image",
  content = "../img/common/preview"
)

.
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YV7SH5YHQB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YV7SH5YHQB');
  </script>